<div class="container">
    <div class="row">
        <div class="col">
            <h1>About</h1>
            <div class="text-center">
                <img src="assets/images/favicon.png" class="img-fluid" alt="Party">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Technologies Used</h3>
            <li>Java</li>
            <li>Spring Boot</li>
            <li>JPA / Hibernate</li>
            <li>JUnit tests</li>
            <li>Angular</li>
            <li>MySQL</li>
            <li>HTML, CSS, TS/JS</li>
            <li>Bootstrap</li>
        </div>
    </div>
</div>