a {
    cursor:pointer;
}

a:hover {
    background-color: lightblue;
    border-radius: 5px;
    color:black;
}

a.active {
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
}

.tiny {
    font-size: 0.8em !important;
}