.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .card-title {
    font-size: 1.25em;
    margin-bottom: 10px;
  }
  
  .card-text {
    margin: 5px 0;
  }
  

  .link-large {
    font-size: 72px;
  }

  app-map {
    width: 300px;
  }