<div class="container">
  <div class="row">
    <div class="col">
      <h1>Register</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">

    </div>
  </div>
  <div class="row">
    <div class="col">
      <form name="registerForm" class="bg-light p-5 rounded" (ngSubmit)="register(registerForm)" #registerForm="ngForm"
        novalidate>
        <div class="form-group m-2">
          <label for="username">Your Unique Email: &nbsp;</label>
          <input ngModel required type="text" class="form-control" id="username" [(ngModel)]="newUser.username"
            name="username" placeholder="Choose a valid email address" minlength="1">
          <div *ngIf="registerForm.submitted && newUser.username===''" class="text-danger">
            Username is required.
          </div>
        </div>
        <div class="form-group m-2">
          <label for="password">Your Strong Password: &nbsp;</label>
          <input ngModel required type="password" class="form-control" id="password" [(ngModel)]="newUser.password"
            name="password" placeholder="Create a strong password">
          <div *ngIf="registerForm.submitted && newUser.password===''" class="text-danger">
            Password is required.
          </div>
        </div>
        <div class="form-group m-2">
          <label for="firstName">First Name: &nbsp;</label>
          <input ngModel required type="text" class="form-control" id="firstName" [(ngModel)]="newUser.firstName"
            name="firstName" placeholder="First Name">
          <div *ngIf="registerForm.submitted && !newUser.firstName" class="text-danger">
            First Name is required.
          </div>
        </div>
        <div class="form-group m-2">
          <label for="lastName">Last Name: &nbsp;</label>
          <input ngModel required type="text" class="form-control" id="lastName" [(ngModel)]="newUser.lastName"
            name="lastName" placeholder="Last Name">
          <div *ngIf="registerForm.submitted && !newUser.lastName" class="text-danger">
            Last Name is required.
          </div>
        </div>
        <hr>
        {{ errors | json }}
        <hr>
        <input type="submit" class="btn btn-success" value="Register" />
      </form>

      <!-- <form name="registerForm" class="bg-light p-5 rounded" (ngSubmit)="register(newUser)">
        <div class="form-group m-2">
          <label for="username">Your Unique Email: &nbsp;</label>
          <input ngModel required type="text" class="form-control" id="username" [(ngModel)]="newUser.username"
            name="username" placeholder="Choose a valid email address" minlength="1">
        </div>
        <div class="form-group m-2">
          <label for="password">Your Strong Password: &nbsp;</label>
          <input ngModel required type="password" class="form-control" id="password" [(ngModel)]="newUser.password"
            name="password" placeholder="Create a strong password">
        </div>
        <div class="form-group m-2">
          <label for="firstName">First Name: &nbsp;</label>
          <input ngModel required type="firstName" class="form-control" id="firstName" [(ngModel)]="newUser.firstName"
            name="firstName" placeholder="First Name">
        </div>
        <div class="form-group m-2">
          <label for="lastName">Last Name: &nbsp;</label>
          <input ngModel required type="lastName" class="form-control" id="lastName" [(ngModel)]="newUser.lastName"
            name="lastName" placeholder="Last Name">
        </div>
        <hr>
        <input type="submit" class="btn btn-success" value="Register" />
      </form> -->
    </div>
  </div>
</div>